.header .topSection {
    background-color: var(--bg-dark);
    /* position: relative;
    z-index: 20; */
}

.header .bottomSection ul Link {
    transition: all .3s;
}

.header .bottomSection ul Link:hover {
    color: #59ab6e;
}

.header {
    box-shadow: 0 .5rem 1rem #00000031 !important;
}

.header .bottomSection .menu {
    display: none;
}

@media (max-width: 768px) {
    .header .topSection {
        display: none;
    }

    .header .bottomSection .mid {
        display: none;
    }

    .header .bottomSection .right {
        display: none;
    }

    .header .bottomSection .menu {
        display: flex;
        transition: all .3s;
    }
}

.mobileNav {
    display: none;
    position: fixed;
    top: 0;
    /* left: 0; */
    width: 100%;
    /* height: 100vh; */
    background-color: var(--bg-white);
    z-index: 9999; /* Add high z-index */
    overflow-y: auto;
}

.mobileNav.open {
    display: flex;

}

.header .absSearch {
    display: none;
    left: 50%;
    transform: translateX(-50%);
}

.header .absSearch.open {
    display: flex;
    position: fixed;
    z-index: 9999999999999999999;
}

.header input {
    outline: none;
}

.mobileUl {
    /* position: absolute;
    top: 50%;
    left: 50%; */
    z-index: 9999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
}