@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-dark: #212934;
    --bg-darkest: #1a212c;
    --bg-white: #fff;
    --bg-gray: #e9eef5;
    --color-green: #59ab6e;
    --color-gray: #b9babd;
    --hero-bg: #efefef;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

input {
    outline: none;
}